.dashboard {
  padding: 20px;

  .content-container {
    display: flex;
    gap: 20px; 
    width: 100%;
  }

  .table-container {
    flex: 7;
    background-color: #f9f9f9; 
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .workflow-container {
    flex: 3;
    background-color: #ffffff; 
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}
